/*! LICENSE.TXT
	﻿The FontStruction “Star Beast”
	(https://fontstruct.com/fontstructions/show/1775701) by “tymime” is licensed
	under a Creative Commons Attribution Share Alike license
	(http://creativecommons.org/licenses/by-sa/3.0/).
*/

@font-face {
	font-family: "Star Beasts Mono";
	src:
		url('StarBeastsMono.woff2') format('woff2'),
		url('StarBeastsMono.woff') format('woff'),
		url('StarBeastsMono.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

