/*! deathshadow's new reset */
html,body,div,p,h1,h2,h3,h4,h5,h6,
ul,ol,li,dl,dt,dd,form,fieldset,caption,
table,tr,td,th,address,blockquote,img {
	margin:0;
	padding:0;
}

img, fieldset, object {
	border:none;
}

*, *:after, *:before {
	flex:1 0 auto; /* safari bugfix */
	box-sizing:border-box;
}

button, label {
	cursor:pointer;
}

html, body {
	height:100%;
}

hr {
	display:none;
}


/*! main theme */

body {
	font-family: 'Star Beasts Mono', monospace;
	background: #777;
	line-height: 1.7;
	background-image: url(bg.png);
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-attachment: fixed;
}

@media screen and (max-width: 64em) {
	body {
		font-size: .7em;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: .5em 0;
}

.pancake-chart {
	margin-top: 2em;
}

tt, code, kbd, samp {
	font-size: 1em;
	font-family: 'Star Beasts Mono', monospace;
	background-color: #ddd;
	padding: .1rem .6em;
}

p {
	margin-bottom: 1em;
}

b, strong, h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	text-shadow:
		1px 0 0 #000,
	   -1px 0 0 #000;
	letter-spacing: 0;
}
